recognition.memory.logistic.glmer.results.Rda filter=fat -crlf
experiment_brisbane_recognition_memory_tests.csv filter=fat -crlf
experiment_brisbane_recall_memory_tests_results.csv filter=fat -crlf
mcmc_recognition_model_v1_seed_666_burn_10000_sample_10000_dic_10000_thin_10_date_2017.04.18_16.10.42.Rda filter=fat -crlf
mcmc_recognition_model_v2_seed_667_burn_10000_sample_10000_dic_10000_thin_10_date_2017.04.18_16.56.46.Rda  filter=fat -crlf
mcmc_recognition_model_v3_seed_1667_burn_10000_sample_10000_dic_10000_thin_10_date_2017.04.18_19.32.30.Rda filter=fat -crlf
mcmc_recognition_model_v4_seed_10667_burn_10000_sample_10000_dic_10000_thin_10_date_2017.04.18_20.14.42.Rda filter=fat -crlf
mcmc_recognition_model_v5_seed_11667_burn_10000_sample_10000_dic_10000_thin_10_date_2017.04.18_20.19.31.Rda filter=fat -crlf
mcmc_recognition_model_v6_seed_14667_burn_10000_sample_10000_dic_10000_thin_10_date_2017.04.18_18.17.47.Rda filter=fat -crlf
mcmc_recognition_model_v6_seed_14667_burn_10000_sample_10000_dic_10000_thin_10.Rda filter=fat -crlf
mcmc_recognition_model_v5_seed_11667_burn_10000_sample_10000_dic_10000_thin_10.Rda filter=fat -crlf
mcmc_recognition_model_v4_seed_10667_burn_10000_sample_10000_dic_10000_thin_10.Rda filter=fat -crlf
mcmc_recognition_model_v2_seed_667_burn_10000_sample_10000_dic_10000_thin_10.Rda filter=fat -crlf
mcmc_recognition_model_v3_seed_1667_burn_10000_sample_10000_dic_10000_thin_10.Rda filter=fat -crlf
mcmc_recognition_model_v1_seed_666_burn_10000_sample_10000_dic_10000_thin_10.Rda filter=fat -crlf
brisbane_06b643a_recall_results.pkl filter=fat -crlf
brisbane_06b643a_recognition_results.pkl filter=fat -crlf
Brismo.cfg filter=fat -crlf
fake_subject_uids.txt filter=fat -crlf
bnc_vocab_49328.txt filter=fat -crlf
fake_subject_uids.txt filter=fat -crlf
hdptm_061216085831_7090_state_12946.npz.bz2 filter=fat -crlf
bnc_78723408_250_500_49328.npz.bz2 filter=fat -crlf
posterior_predictions.1001.pkl filter=fat -crlf
posterior_predictions_of_recalled_words.csv filter=fat -crlf
association_predictions_of_recalled_words.csv filter=fat -crlf
word_associates_from_association_norms.pkl filter=fat -crlf
associations_en_05_01_2015.csv.bz2 filter=fat -crlf
word_associates_from_cooccurrence_statistics.pkl filter=fat -crlf
bnc_texts_78723408_250_500.txt.bz2 filter=fat -crlf
mcmc_recall_model_seed_1401_burn_1000_sample_1000_dic_1000_thin_10.Rda filter=fat -crlf
bnc_texts_78639361_183975_251_499.npz filter=fat -crlf
hdptm_170617202450_6333_state_*.npz filter=fat -crlf
hdptm_201117172636_2290_state_*.npz filter=fat -crlf
hdptm_170617202450_2290_posterior_average.pkl filter=fat -crlf
posterior_predictions.10101.pkl filter=fat -crlf
bnc_vocab_49324.txt filter=fat -crlf
hdptm_170617202450_2290_posterior_average.pkl filter=fat -crlf
posterior_predictions.2290.20202.pkl filter=fat -crlf
bnc_texts_78639361_183975_251_499.txt.bz2 filter=fat -crlf
cooccurrences_predictions_of_recalled_words.csv filter=fat -crlf
